{{ define "main" }}
{{ with .Site.GetPage "section" "home" }}
<div class="jumbotron" id="home-jumbotron" style="background-image: url({{.Params.backgroundimage}});" >
    <div class="container">

            <h1 id="jumbo-title"> {{.Params.jumbotitle}} </h1>

    </div>
</div>
{{ end }}


<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
</script>

{{ end }}